/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../scss/jing.scss */
body {
  background-color: #f9f9f9;
  margin: 0px;
  height: 100%;
  font-size: 62.5%;
}

/* line 14, ../scss/jing.scss */
.container {
  width: 100%;
}
/* line 16, ../scss/jing.scss */
.container .progress {
  height: 5px;
  width: 45%;
  background-color: #434343;
}
/* line 21, ../scss/jing.scss */
.container .top-icon {
  margin: 50% auto;
  margin: 3em 3em auto 3em;
}
/* line 24, ../scss/jing.scss */
.container .top-icon i {
  display: inline-block;
  line-height: 30px;
  background-color: #cdcdcd;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 2em;
  color: #f9f9f9;
  text-align: center;
}
/* line 34, ../scss/jing.scss */
.container .top-icon i:last-child {
  float: right;
}
/* line 40, ../scss/jing.scss */
.container .options div {
  text-align: center;
}
/* line 42, ../scss/jing.scss */
.container .options div img {
  width: 30em;
  height: 30em;
  border-radius: 50%;
}
/* line 49, ../scss/jing.scss */
.container .options ul {
  width: 100%;
  text-align: -webkit-center;
}
/* line 52, ../scss/jing.scss */
.container .options ul li {
  display: inline-block;
  width: 18%;
}
/* line 55, ../scss/jing.scss */
.container .options ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 60px;
  font-size: 4em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #cdcdcd;
  background-color: white;
  -moz-box-shadow: rgba(205, 205, 205, 0.5) 0 0 20px;
  -webkit-box-shadow: rgba(205, 205, 205, 0.5) 0 0 20px;
  box-shadow: rgba(205, 205, 205, 0.5) 0 0 20px;
}
/* line 67, ../scss/jing.scss */
.container .options ul li a:hover {
  color: #434343;
}
