@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-shadow";

$page-background-color: #f9f9f9;
$font-gray-color: #cdcdcd;
body {
  background-color: $page-background-color;
  margin: 0px;
  height: 100%;
  font-size: 62.5%;
}

.container {
  width: 100%;
  .progress {
    height: 5px;
    width: 45%;
    background-color: #434343;
  }
  .top-icon {
    margin: 50% auto;
    margin: 3em 3em auto 3em;
    i {
      display: inline-block;
      line-height: 30px;
      background-color: $font-gray-color;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 2em;
      color: $page-background-color;
      text-align: center;
      &:last-child {
        float: right;
      }
    }
  }
  .options {
    div {
      text-align: center;
      img {
        width: 30em;
        height: 30em;
        border-radius: 50%;
      }
    }

    ul {
      width: 100%;
      text-align: -webkit-center;
      li {
        display: inline-block;
        width: 18%;
        a {
          text-decoration: none;
          text-align: center;
          display: block;
          line-height: 60px;
          font-size: 4em;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: $font-gray-color;
          background-color: white;
          @include box-shadow(rgba($font-gray-color, 0.5) 0 0 20px);
          &:hover {
            color: #434343;
          }
        }
      }
    }
  }
}