@import "compass/reset";
@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";
@import "compass/css3/transform";

$background-color: #f9f9f9;
$font-gray-color: #cdcdcd;

@include keyframes(rotate){
  0% {  @include transform(rotate(0deg)); }
  50% {  @include transform(rotate(180deg)); }
  100% { @include transform(rotateX(360deg)); }
}
body {
  background-color: transparent;
  margin: 0px;
  height: 100%;
  font-size: 62.5%;
}

.container {
  width: 100%;
  .progress {
    height: 5px;
    width: 45%;
    background-color: #434343;
  }
  .top-icon, .icon-bottom {
    margin: 50% auto;
    margin: 3em 3em auto 3em;
    i {
      display: inline-block;
      line-height: 30px;
      background-color: $font-gray-color;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 2em;
      color: $background-color;
      text-align: center;
      &:last-child {
        float: right;
      }
    }
  }
  .options {
    div {
      text-align: center;
      margin-top: -580px;
      img {
        width: 30em;
        height: 30em;
        border-radius: 50%;
      }
    }
    ul {
      text-align: -webkit-center;
      li {
        display: inline-block;
        margin: 400px auto;
        width: 10%;
        &.continue{
          width: 40%;
        }
        &.trash {
          @include animation(rotate 5s 5s infinite alternate);
        }
        &.like{
          @include animation(rotate 5s infinite alternate);
          margin-left: 5%;
        }
        &.fast-forward{
          margin-right: 5%;
        }
        a {
          position: relative;
          text-decoration: none;
          text-align: center;
          display: block;
          line-height: 60px;
          font-size: 4em;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          color: $font-gray-color;
          background-color: white;
          @include box-shadow(rgba(black, 0.5) 0 0 20px);
          &:hover {
            color: #434343;
          }
          &::after {
            z-index: -100;
            content: "";
            position: absolute;
            width: 80px;
            height: 80px;
            right: -10px;
            top: -10px;
            border-radius: 50%;
            background-color: rgba($font-gray-color, 0.5);
          }
        }
      }
    }
  }
}